/** {
  border: solid red 1px !important;
  
}*/

body {
  /*background-color: grey;*/
/*   min-width: 900px; */
/*   margin: 0 auto; */
  box-sizing: border-box;
  /*height: 100vh;*/

  
}

.flex {
  display: flex;
  height: 100%;
}

/* Sidebar Navigation */

.column-1 {
/*   min-height: 20rem; */
  flex: 15%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: #364051;
  color: #798497;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-title {
  margin: 1em 2em 0 2em;
}

.sidebar-nav1 {
  flex: 12%;
  /*background-color: brown;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 10em;
  border-bottom: 3px solid #303744
}

.headshot {
  /*background-color: blue;*/
  border-radius: 50%;
  background-image: url(images/shawn_headshot.jpg);
  /*background-position: center;*/
  background-size: cover;
  min-height: 6em;
  min-width: 6em;
}

.sidebar-nav2 {
  flex: 18%;
  /*background-color: yellow;*/
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 3px solid #303744
}

.nav-buttons {
  padding: 1em;
}

.sidebar-icons {
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: left;
}

.home-icon {
  background-image: url(images/home.svg);
}

.jobs-icon {
  background-image: url(images/briefcase.svg);
}

.cv-icon {
  background-image: url(images/portfolio.svg);
}

.tasks-icon {
  background-image: url(images/cv.svg);
}

.calendar-icon {
  background-image: url(images/calendar.svg);
}

.sidebar-nav-choices {
  margin: 1em;
  padding-left: 2em;
}

.sidebar-nav3 {
  flex: 18%;
  border-bottom: 3px solid #303744
}

.users-icon {
  background-image: url(images/users.svg);
}

.locations-icon {
  background-image: url(images/location.svg);
}

.workflows-icon {
  background-image: url(images/workflow.svg);
}

.job-icon {
  background-image: url(images/portfolio.svg);
}

.social-icon {
  background-image: url(images/share.svg);
}

.sidebar-nav4 {
  flex: 48%;
}

.admin-icon {
  background-image: url(images/check-box-yellow.svg);
}

.design-icon {
  background-image: url(images/blue-box.svg);
}

.exec-icon {
  background-image: url(images/red-box.svg);
}

.hr-icon {
  background-image: url(images/green-box.svg);
}

/* Header */

.column-2 {
  flex: 85%;
  display: flex;
  flex-direction: column; 
}

/* Top Header */

.header-1 {
  flex: 8%;
  display: flex;
}

.nav-button {
  width: 5em
  border-right: 1px solid #f2f2f4;
  border-bottom: 1px solid #f2f2f4;
  background-image: url(images/menu.svg);
}

.search-box {
  flex: 60%;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 100%;
  text-indent: 3em;
  font-size: 1em;
  border: none;
  border-top: 1.5px solid #f2f2f5;
  border-bottom: 1.5px solid #f2f2f5;
  background-image: url(images/magnifying-glass.svg);
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: left;
}

.three-images {
  flex: 10%;
  display: flex;
  align-items: center
}

.three-images button {
  flex: 33.33%;
}

.image-btns {
  background-size: 2.5em;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  /*width: 3.5em;*/
  padding: 3em;
}

.person {
  background-image: url(images/man.svg);
}

.calendar {
  background-image: url(images/calendar.svg);
}

.multi-menu {
  background-image: url(images/mulit-menu.svg);
}

/* Second from top Heading  */
.header-2 {
  background-color: #FFF;
  flex: 19%; 
  display: flex;
  flex-direction: column;
}

.top-container-header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
}

fieldset {
  flex: 72%;
}

.job-title {
  font-size: 2em;
  margin: 0 1.5em;
}

.location {
  font-size: 1em;
  margin: 1.2em;
}

.location-icon {
  background-image: url(images/location.svg);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: left;
  margin: 1em 3em;
}

.preview {
  color: #45bbf3;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  flex: 23%;
  min-width: 15em;
  margin-right: 3em;
}

.button-title {
  width: 2.5em;
  height: 3.5em;
  border: 2px solid #dee4e9;
  display: inline-block;
  vertical-align: middle;
  color: #9ca3ae;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 5rem;
}

.edit-btns {
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  height: 3.5em;
  width: 3.5em;
}

.bookmark-icon {
  background-image: url(images/bookmark.svg);  
}

.edit-icon {
  background-image: url(images/edit.svg);    
} 

.trash-icon {
  background-image: url(images/waste.svg);    
} 

.nav-bottom {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin-bottom: 2em;
}


/* Middle section with graphs */

section {
  background-color: #edf2f6;
  flex: 32%;
  display: flex;
  /*border-bottom: 1px solid darkgrey;*/
}

.section-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.section-container-left {
  flex: 53%
}

.circle-graphs-container {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.circle-graph {
  margin: 0 1em;
}

.circle-chart {
  height: 11rem;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(90deg);
  transform-origin: center;
}

.circle-chart__circle--negative {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(90deg);
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
  font-family: sans-serif;
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inside-text {
  align-self: center;
}

.graph-info {
  /*margin-top: 2rem;*/
  padding: 0.5em 1em 0.5em 1em;
  background-color: #fafafc;
  border-radius: 3em;
  border: 2px solid #e0e5eb;
}

.section-container-right {
  /*background-color: crimson;*/
  flex: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container-right-buttons {
  background-color: #edf2f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24%;
}

.bar-graph {
  background-image: url(images/bar-graph.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 14.5em;
  min-width: 29em;
  margin-top: 1em;
}


/*Divider*/

.middle-divider {
  flex: 8%;
  display: flex;
  justify-content: center
}

.up-arrow {
  background-image: url(images/upwards.svg);
}

/* bottom section with job description on left and 
social media buttons on right*/

main {
  background-color: #edf2f6;
  flex: 67%;
  display: flex;
}

.main-container-left {
  flex: 53%;
  display: flex;
  flex-direction: column;
  margin: 0 3%;
}

/*Job Description Table*/


.job-descripton {
  table-layout: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 20%;
}

.header-job-description {
  background-color: #727d93;
  height: 100%;
  padding: 1em;
  /*flex: auto;*/
}

tbody {
  background-color: #fff;
}

.th-1 {
  font-size: 1.2em;
  color: #fff;
}

th {
  min-width: 13em;
  padding: 1em;
}

.edit-job-btn {
  margin-left: 1em;
  background-color: #7E8BA4;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.5rem 1rem
}



.main-container-right {
  /*background-color: pink;*/
  flex: 26%;
  margin: 0 3%;
}

.social-buttons {
  flex: 26%;
  margin: 1em;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  height: 3rem;
  justify-content: center;
  margin: 0 0 1rem;
  padding: 0 0 0 0;
  width: 100%;
}

.socialmedia-icons {
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: left;
}

.facebook {
  background-color: #4a6fc1
}

.facebook-logo {
  background-image: url(images/facebook-logo.svg);
}

.twitter {
  background-color: #02a9ef;
}

.twitter-logo {
  background-image: url(images/twitter.svg);
}

.linkedin {
  background-color: #0381bc;
}

.linkedin-logo {
  background-image: url(images/linkedin.svg);
}

.lower-section-container {
  display: flex;
  flex-direction: column;
}

.link {
  
  flex: 33.33%
}

.use {
  flex: 33.33%;
}

.update {
  flex: 33.33%;
}

h4 {
  color: #556072;
  font-weight: 600;
  margin: 1.25rem 0 1rem;
}

.line-break {
  border-bottom: 2px solid black;
}

.social-links {
  color: #727D93;
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  height: 2.5rem;
  overflow: hidden;
  padding: 0.85rem 0 0 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.social-tags {
  background-color: #fff;
  color: #727D93;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  height: 2.5rem;
  width: 80%;
  margin: 1em 0 1em 0;
}

.copy-button {
  background-color: #68B8BF;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  height: 2.5rem;
  width: 20%;
  margin: 1em 0 1em 0;
}

