/** {
  border: solid red 1px !important;
  
}*/

body {
  /*background-color: grey;*/
/*   min-width: 900px; */
/*   margin: 0 auto; */
  box-sizing: border-box;
  height: 100vh;

  
}

.flex {
  display: flex;
  height: 100%;
}

/* Sidebar Navigation */

.column-1 {
/*   min-height: 20rem; */
  flex: 15%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: #364051;
  color: #798497;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-title {
  margin: 1em;
}

.sidebar-nav1 {
  flex: 12%;
  /*background-color: brown;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 10em;
  border-bottom: 3px solid #303744
}

.headshot {
  /*background-color: blue;*/
  border-radius: 50%;
  background-image: url(images/shawn_headshot.jpg);
  /*background-position: center;*/
  background-size: cover;
  min-height: 6em;
  min-width: 6em;
}

.sidebar-nav2 {
  flex: 18%;
  /*background-color: yellow;*/
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 3px solid #303744
}

.nav-buttons {
  padding: 1em;
}

.sidebar-nav-choices {
  margin: 1em;
}

.sidebar-nav3 {
  flex: 18%;
  border-bottom: 3px solid #303744
  /*background-color: crimson;*/
}

.sidebar-nav4 {
  flex: 48%;
  /*background-color: cornflowerblue;*/
}

/* Header */
.column-2 {
  flex: 85%;
  display: flex;
  flex-direction: column; 
}

/* Top Header */
.header-1 {
  flex: 4%;
  display: flex;
  /*justify-content: space-between;*/
}

.nav-button {
  width: 5em
  border-right: 1px solid #f2f2f4;
  border-bottom: 1px solid #f2f2f4;
}

.search-box {
  flex: 60%;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  font-size: 1.5em;
  border: none;
}

.three-images {
  flex: 10%;
  background-color: blue;
  display: flex;
}

.three-images div {
  flex: 33.33%;
}

/* Second from top Heading  */
.header-2 {
  background-color: red;
/*   flex: 12%; */
  display: flex;
  flex-direction: column;
}

.top-container-header-2 {
  display: flex;
}

fieldset {
  background-color: cornflowerblue;
  flex: 72%;
}

.nav-right {
  background-color: purple;
  display: flex;
  flex: 23%;
}

.nav-bottom {
  background-color: yellow;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

/* .nav-bottom,h6 {
  background-color: brown;
}
 */

/* Middle section with graphs */
section {
  background-color: #edf2f6;
  flex: 24%;
  display: flex;
}

.section-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.section-container-left {
  /*background-color: blue;*/
  flex: 53%
}

.circle-graphs-container {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.circle-graph {
  margin: 0 1em;
}


.circle-chart {
  height: 11rem;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(90deg);
  transform-origin: center;
}

.circle-chart__circle--negative {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(90deg);
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
  font-family: sans-serif;
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inside-text {
  align-self: center;
}

.graph-info {
  /*margin-top: 2rem;*/
  padding: 0.6em 1em 0.6em 1em;
  background-color: #fafafc;
  border-radius: 3em;
  border: 2px solid #e0e5eb;
}

.section-container-right {
  /*background-color: crimson;*/
  flex: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container-right-buttons {
  background-color: #edf2f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24%;
}

.bar-graph {
  background-color: green;
  background-image: url(images/bar-graph.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 83%;
  min-width: 65%;
  margin-top: 1em;
}

.social-buttons {
  flex: 26%;
  margin: 1em;
}

.facebook {
  background-color: #4a6fc1
}

.twitter {
  background-color: #02a9ef;
}

.linkedin {
  background-color: #0381bc;
}

.lower-section-container {
  display: flex;
  flex-direction: column;
}



.link {
  background-color: orange;
  flex: 33.33%
}

.use {
  background-color: blue;
  flex: 33.33%;
}

.update {
  background-color: yellow;
  flex: 33.33%;
}

/* bottom section with job description on left and 
social media buttons on right*/

main {
  background-color: #edf2f6;
  flex: 60%;
  display: flex;
}

.main-container-left {
  background-color: brown;
  flex: 53%;
  display: flex;
  flex-direction: column;
  margin: 0 3%;

}

.job-descripton {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 20%;
}

.header-job-description {
  background-color: grey;
  height: 100%;
  flex: auto;
}

.main-container-right {
  /*background-color: pink;*/
  flex: 26%;
  margin: 0 3%;
}

